.calendar {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rbc-calendar {
    width: 80% !important;
    height: 80vh;
    padding: 20px 0;
}

.rbc-off-range-bg {
    background-color: transparent !important;
}

.rbc-day-bg {
    background-color: transparent !important;
}

.rbc-today {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.rbc-btn {
    color: rgb(221, 221, 221) !important;
} 

.rbc-timeslot-group {
    border:none;
}

/* increase time slot height */
.rbc-timeslot-group {
  min-height: 50px; 
}

.rbc-events-container {
    width:100%;
}

.rbc-event {
  background-color: #80a6c9ff;
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 2px 6px;
  font-weight: 500;
  transition: transform 0.1s ease, background-color 0.2s ease;
}

.rbc-event:hover {
  transform: scale(1.01);
  background-color: #b990c0ff;
}

/* Simplify lines on the Work-week view */
.rbc-time-content .rbc-day-slot .rbc-timeslot-group .rbc-time-slot:nth-child(even) {
  border: 1px solid transparent;
}

.rbc-header {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
}

.rbc-time-header-cell .rbc-header .rbc-button-link{
    color: rgb(0, 0, 0) !important;
    font-size:0.9rem;
    font-weight: 400;
    padding:12px 0;
}


/* All day events are displayed in a different area, we dont need */
.rbc-allday-cell { 
  display: none !important;
}

/* Remove borders around time view (work week) */
.rbc-time-view {
    border: none !important;
}

/* Scrollbar track */
.rbc-time-content::-webkit-scrollbar-track {
  background: #11063271; /* same as your dark background */
}

/* Scrollbar thumb */
.rbc-time-content::-webkit-scrollbar-thumb {
  background-color: rgba(128, 166, 201, 0.6);
  border-radius: 6px;
}

/* Optional: scrollbar width */
.rbc-time-content::-webkit-scrollbar {
  width: 10px;
}

.rbc-current-time-indicator {
  background-color: #ff4d4d !important;
  height: 2px !important;
}

/* Toolbar button styles */
.rbc-toolbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rbc-toolbar-label {
    font-size:1.2rem;
    font-weight: 500;
}

.rbc-toolbar button {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  color: white !important;

  font-size:0.9rem;
}

.rbc-toolbar button:hover {
  background: #d3a4a4;
}